body {
    background-color: antiquewhite;
    @font-face {
        font-family: "titulodbz";
        src: url(../font/BebasNeue-Regular.ttf);
      }
      @font-face {
        font-family: "textoDbz";
        src: url(../font/Louis\ George\ Cafe\ Bold.ttf);
      }
}
